.history-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  animation: fadeIn 0.5s ease-in-out;
}
.history-content-container{
  background-color: rgba(58, 19, 112, 50%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 80%;
}
.cancelIcon{
  align-self: flex-end;
  cursor: pointer;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3); /* Slight border for separation */
}

th {
  background-color: rgba(67, 13, 142, 0.8); /* Darker header */
  color: white;
  font-weight: bold;
  text-transform: uppercase;
}

td {
  color: white;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.2); /* Hover effect */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.footer{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  color: white;
  font-size: 25px;
  text-align: center;
}

@media (max-width: 768px) {
  .history-content-container {
    width: 90%;
  }
  .footer{
    font-size: 20px;
  }
  table {
    min-width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  th, td {
    padding: 8px;
    font-size: 14px;
  }
}